@{
    ViewBag.Title = "Index";
    Layout = null;
}

<div class="page-title">
    <div class="title_left">
        <h3></h3>
    </div>

    
</div>
<br />
<div align="center">
    <img src="~/Content/image/Screen 1 – 22.png" width="100%" />
</div>
